*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
}

.header{
    flex: auto;
    background-color: #1f2937;
    display: flex;
    color: #f9faf8;
    flex-direction: row;
    height: 50px;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
}

.headerLinks{
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: auto;
    gap: 15px;
    list-style-type: none;
}
